body{
    background-color: rgb(46, 14, 46);
    color: white;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: yellow;
    border: 1px solid;
}
.main{
    display: flex;
    justify-content: center;
}